                /*  General */
:root{
/* .       COLORS */
--primary-brand: #4D5AE5;
--pressed-state: #404BBF;
--dark: #2E2F42;
--light: #F4F4FD;
--white-background:#FFFFFF;
--text: #434455;
--success: #31D0AA;
--subtle-text: #8E8F99;
--accent: #E7E9FC;
--modal-overlay: #2E2F42B2;
--modal-background:#FCFCFC;
}
body{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: var(--text);
        background-color: var(--white-background);
}
/* COMPONENTS */
.link{
text-decoration: none;
line-height: 1.5;
color: var(--primary-brand);
        letter-spacing: 0.02em;
}
.menu{
        font-style: normal;
}
.list {
        list-style: none;
        letter-spacing: 0.02em;
}
.list-item{
background-color: var(--white-background);
}
.hsecond-text {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark);
}
.hthird-text {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--dark);
}

  /*  logo */
  .logo {
          font-family: 'Raleway', sans-serif;
          font-weight: 800;
          font-size: 18px;
          line-height: 1.17;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: var(--primary-brand);

  }

  .logo-studio {
          color: var(--dark);
                letter-spacing: 0.02em;
  }

  .logo-studio-sec {
          width: 71px;
          color: var(--light);
                letter-spacing: 0.02em;
  }

  /* /Logo */

/* HEADER */
.header-nav {
        font-weight: 500;
        color: var(--dark);
        line-height: 1.5;
        letter-spacing: 0.02em;}
.header-nav:hover,
.header-nav:focus {
        color: var(--pressed-state);
}
.link-address {
        letter-spacing: 0.02em;
        color: var(--text);

}

.link-address:hover,
.link-address:focus {
       
        color: var(--pressed-state);
}
/* FOOTER */
.ft-properties {
        background-color: var(--dark);
}

.footer-text {
        color: var(--light);
        letter-spacing: 0.02em;

}

/* /FOOTER */
/*  */
/*  */
/* MAIN INDEX */
.hero-section {
        background: var(--dark);
}

.hero-text {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--white-background);
        letter-spacing: 0.02em;
}

.our-team-section {
        background-color: var(--light);
}
.order-service-bt {
        font-family: inherit;
        font-weight: 500;
        color: var(--white-background);
        background-color: var(--primary-brand);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

.order-service-bt:hover,
.order-service-bt:focus {
     
        background-color: var(--pressed-state);
}

/* /MAIN INDEX */
/* MAIN PORTFOLIO */
.filter-btn {
  
        background-color: var(--light);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-brand);
        cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
        background-color: var(--pressed-state);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--white-background);
}
.paragraph-txt{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
}
/* /MAIN PORTFOLIO */